server:
  port: 0 # 랜덤하게 지정

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defalutZone: http://localhost:8761/eureka  
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    
spring:
  application:
    name: statistics-service
  data:
    mongodb:
      host: ${mongoDB.host}
      port: 27017
      authentication-database: admin
      database: database
      username: ${mongoDB.username}
      password: ${mongoDB.password}
      uri: "mongodb://134talk1:134talk1@3.34.3.145:27017/database?authSource=admin"
  kafka:
    bootstrap-servers: ${KAFKA_CLUSTER01},${KAFKA_CLUSTER02},${KAFKA_CLUSTER03}